# Compiled binaries
/todo-ui
/todo-ui.exe
/todoui
/dist/
*.exe
*.test
*.out

# Go
*.o
*.a
vendor/

# Editor / OS cruft
.DS_Store
.idea/
.vscode/
*.swp
*~

# Local state (todo-ui writes to ~/.config/todo-ui, but ignore any stray local copies)
last_project.txt
